  body {
    background-image: url("../assets/wallpapersden.com_pokemon-hd-cool-art_1920x1080.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: fill;
    margin: 0px;
  }

  .hide{
    display: none;
  }

  .show {
    display: block;
}


  
  